<div class="container">
    <h1 class="title">TicTacToe Game</h1>
    <div class="info">
        <p>
            Current Player: X
        </p>
        <p>
            Winner: X!
        </p>
    </div>

    <div class="board">
        <div class="board-item" id="01">
            00
        </div>
        <div class="board-item" id="02">
            01
        </div>
        <div class="board-item" id="03">
            02
        </div>
        <div class="board-item" id="11">
            10
        </div>
        <div class="board-item" id="12">
            11
        </div>
        <div class="board-item" id="13">
            12
        </div>
        <div class="board-item" id="31">
            20
        </div>
        <div class="board-item" id="32">
            21
        </div>
        <div class="board-item" id="33">
            22
        </div>
    </div>
</div>