<div class="container">
    <h1 class="title">TicTacToe Game</h1>
    <div class="info">
        <p>
            <b>Current Player:</b> {{isXPlayer ? "X" : "O"}}
        </p>
        <p>
            <b>Game Status:</b> {{gameStatus}}
        </p>
        <p>
            <button class="reset" (click)="resetGame()">Reset Game</button>
        </p>
    </div>

    <div class="board" id="board">
        <div class="board-item" (click)="showMe($event)" id="00">
            {{boardGame[0][0]}}
        </div>
        <div class="board-item" (click)="showMe($event)" id="01">
            {{boardGame[0][1]}}
        </div>
        <div class="board-item" (click)="showMe($event)" id="02">
            {{boardGame[0][2]}}
        </div>
        <div class="board-item" (click)="showMe($event)" id="10">
            {{boardGame[1][0]}}
        </div>
        <div class="board-item" (click)="showMe($event)" id="11">
            {{boardGame[1][1]}}
        </div>
        <div class="board-item" (click)="showMe($event)" id="12">
            {{boardGame[1][2]}}
        </div>
        <div class="board-item" (click)="showMe($event)" id="20">
            {{boardGame[2][0]}}
        </div>
        <div class="board-item" (click)="showMe($event)" id="21">
            {{boardGame[2][1]}}
        </div>
        <div class="board-item" (click)="showMe($event)" id="22">
            {{boardGame[2][2]}}
        </div>
    </div>
</div>